{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plane and Straight Line</title>

    <script src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
</head>
<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <a href="{% url 'home' %}" class="navbar-brand">Plane and Line</a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'contact' %}">Contact</a>
        <button class="navbar-toggler" onclick="toggleNav()">&#9776;</button>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2023 Plane and Line</p>
        </div>
    </footer>

    <script>
        // JavaScript function to toggle the navigation menu on small screens
        function toggleNav() {
            var navbar = document.querySelector('.navbar');
            if (navbar.style.display === 'block') {
                navbar.style.display = 'none';
            } else {
                navbar.style.display = 'block';
            }
        }
    </script>
</body>
</html>
